body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
    overflow: hidden;
}

.conteiner {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
}

.button-row1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text {
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.move-icon {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding: 20px;
    transition: all 0.15s;
    vertical-align: middle;
}

.rock-button,
.paper-button,
.scissors-button {
    background: none;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    transition: all 0.15s;
}

.rock-button:hover,
.paper-button:hover,
.scissors-button:hover {
    cursor: pointer;
    background-color: rgb(49, 49, 49);
}

.rock-button:hover .move-icon,
.paper-button:hover .move-icon,
.scissors-button:hover .move-icon {
    opacity: 0.7;
}

.rock-button:active,
.scissors-button:active,
.paper-button:active {
    background-color: rgb(60, 60, 60);
}

.rock-button:active .move-icon,
.scissors-button:active .move-icon,
.paper-button:active .move-icon {
    opacity: 1;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    transition: all 0.15s;
    margin-top: 20px;
    margin-right: 20px;
    border: 1px solid white;
}

.reset:hover {
    cursor: pointer;
    background-color: #9d2622;
    color: white;
    border: 1px solid white;
}

.reset:active {
    background-color: #85211d;
}

.auto {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    transition: all 0.15s;
    margin-top: 20px;
    border: 1px solid white;
}

.auto:hover {
    cursor: pointer;
    background-color: #266993;
    color: white;
    border: 1px solid white;
}

.auto:active {
    background-color: #1f5677;
}

.moves {
    display: flex;
    align-items: center;
    margin-left: 23%;
}

.line {
    background-color: white;
    width: 3px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

.pop-up-overlay {
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: -20px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    padding: 20px;
}

.pop-up-overlay.active {
    opacity: 1;
    visibility: visible;
}

.overlay-test {
    position: relative;
    z-index: 1000000;
}

.pop-up {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 650px;
    width: 100%;
    justify-content: space-around;
    background-color: rgb(31, 31, 31);
    padding: 20px;
    margin: 0;
    border-radius: 50px;
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    animation: out 0.3s 1 ease-in-out;
}

.pop-up p {
    font-size: 20px;
    font-weight: 600;
}

.yes {
    background-color: red;
    color: white;
    border: 2px solid red;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.15s;
}

.yes:hover {
    background-color: #85211d;
    border: 2px solid white;
}

.no {
    background-color: white;
    color: black;
    border: 2px solid white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.15s;
}

.no:hover {
    background-color: #266993;
    color: white;
}

.pop-up.active {
    opacity: 1;
    visibility: visible;
    animation: up 0.3s 1 ease-in-out;
}

@keyframes up {
    from {
        bottom: -100px
    }

    to {
        bottom: 50px;
    }
}

@keyframes out {
    from {
        bottom: 50px
    }

    to {
        bottom: -100px;
    }
}

@media (max-width: 568px) {
    .pop-up {
        max-width: 500px;
        width: 100%;
        border-radius: 100px;
    }

    .pop-up p {
        margin-bottom: 30px;
    }
}

@media (max-width: 441px) {
    .pop-up p {
        font-size: 16px;
        margin-top: 20px;
    }
}